* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    /* grid-template-columns: 300px 300px; */
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}

nav {
    position: sticky;
    top: 0;
    grid-area: navbar;
    background-color: blue;
    color: white;
    padding: 1em;
}

aside {
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
    align-self: start;
    grid-area: sidebar;
    background-color: gray;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 2em;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        top: 52px;
        width: 300px;
        /* display: none; */

        /* optional: transition effect */
        left: -100%;
        transition: .5s ease;
    }

    .show {
        /* display: block; */

        /* optional: transition effect */
        left: 0;
    }
}